*{
    padding: 2px
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: rgb(210, 234, 255);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 32%;
    padding: 15px 3px;
}

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}

.image {
    border-radius: 50%;
}

.image_link {
    opacity: 0.15;
}

.image_link:hover {
    opacity: 1;
    transition: opacity .25s ease-in;
}

.container {
    position: relative;
    text-align: center; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  .header {
      padding-left: 2%;
  }

